  article.licenses {



.list {
  margin: 0 0 10px 0;
}
form {
  margin: 10px 0 20px 0;

  input[type="text"], input[type="password"] {
    width: 300px;
  }

  input[type="file"] {
    border:none;
    padding:0;
  }
  
  p { margin: 0 0 10px 0;}

  .field {
   margin: 0 0 15px 0; 

  label {
    font-weight:strong;
  }
  }

  .button.new {
  width: 200px;
  }
  }
  }