<div class="basemap_chooser_wms_items">
  <span class="top scroll" style="display: none;"></span>
  <span class="bottom scroll" style="display: block;"></span>

  <ul class="scrollpane">
    <% _.each(layers, function(layer) { %>
    <% if (layer.name) { %>
    <li>
    <strong><%= layer.title %></strong>
    <a href="#add_this" class="button grey smaller right" data-layer_name="<%= layer.name %>">Add this</a>
    </li>
    <% } %>
    <% }); %>
  </ul>
</div>
