<header>
  <div class="header_content">
    <div class="left">
      <ul class="actions">
        <li>
          <h2>
            <a href="#/change-title" class="title"><%= visName %></a>
          </h2>
        </li>
      </ul>
    </div>

    <div class="right">
      <ul class="options">
        <li>
          <a href="#/options" class="options">⚙</a>
        </li>
        <li>
          <a class="rounded share" href="#/visualize">
            <span>PUBLISH</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
